.container {
    max-width: 1200px;
    margin: 20px auto 0 auto;
    text-align: center;
}

.container h2{
    color: #1D73B2;
}

.modify__content, form .form__part{
    display: flex;
}

form, .modify__image{
    width: 47%;
}

form {
    flex-direction: column;
    align-items: center;
    color: #7b7b7b;
    font-family: "Lato", sans-serif;
    text-align: center;
}

.first__part label {
    width: 80%;
}

form p {
    display: block;
    font-weight: 600;
}

.form__part {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 20px;
}

input[type=text]{
    width: 100%;
    margin: 7px auto;
    height: 50px;
    padding-left: 30px;
    border: 1px solid #eee;
    border-radius: 30px;
    background: #f3f4f7;
    color: #8DA0BC;
    outline: none;
    letter-spacing: 1px;
}

input[type=text]:focus{
    border: 1px solid #1D73B2;
}

::placeholder {
    color: #8DA0BC;
    opacity: 1;
}

.text-in.is-invalid{
    border: 1px solid rgb(223, 49, 49);
}

.modify__image{
    align-self: flex-end;
}

.modify__image figure{
    display: flex;
    justify-content: flex-end;
}

.modify__image img{
    display: block;
    max-width: 80%;
    height: auto;
}

form button {
    margin: 40px;
    padding: 20px 120px;
    color: #fff;
    background: #1D73B2;
    border: none;
    border-radius: 25px;
}