header,
header nav,
header ul,
header li,
.header__menu {
  display: flex;
  align-items: center;
}

header,
header a {
  color: #fff;
}

header {
  position: fixed;
  box-sizing: border-box;
  top: 0%;
  left: 0;
  width: 100%;
  background: #072146;
  justify-content: space-between;
  padding: 10px 1.4rem;
  font-family: "Lato", sans-serif;
  z-index: 100;
}

nav {
  background: inherit;
  height: 90px;
  z-index: 100;
  transition: all 0.3s ease-in;
}

nav ul {
  height: inherit;
}

header ul li {
  margin: auto 15px;
  height: inherit;
}

header a {
  font-size: 18px;
}

header li:hover a{
  text-shadow: 0px 0px 8px #fff;
}

.header__menu button {
  margin: auto 1rem;
  padding: 1rem;
  background: #1D73B2;
  color: #fff;
  border: none;
  border-radius: 20px;
  font-size: 1rem;
}

.menu-btn{
  display: none;
  padding: 10px;
  position: fixed;
  top: 93px;
  right: 7px;
  border-radius: 100%;
  background: #1D73B2;
  cursor: pointer;
  z-index: 100;
}
.menu-btn figure, .menu-btn img{
  height: 2rem;
}

@media (max-width: 910px) {
  .menu-btn{
    display: block;
  }
  nav {
    position: fixed;
    top: 90px;
    left: -100%;
    width: 320px;
    height: 100vh;
  }
  nav.active {
    left: 0;
  }
  nav ul {
    flex-direction: column;
  }
  nav ul li {
    display: block;
    height: 20px;
    margin: 5px auto;
    padding: 20px 0; 
    width: 320px;
    text-align: center;
  }
  nav ul li:hover {
    background: #0079FC;
  }
}

@media (max-width: 430px) {
  .logo-header h1 {
    display: none;
  }
}