.container {
    max-width: 1200px;
    margin: 20px auto 0 auto;
    text-align: center;
}

.container h2{
    color: #1D73B2;
}

.credit__content, .details__part{
    display: flex;
}

.credit__details, .credit__image{
    width: 47%;
}

.credit__details {
    color: #7b7b7b;
    font-family: "Lato", sans-serif;
    text-align: center;
    width: 100%;
    margin: auto;
}

.first__part label {
    width: 80%;
}

.credit__details p {
    display: block;
    font-weight: 600;
}

.credit__content h5 {
    font-size: 1.1rem;
    color: #1D73B2;
    text-shadow: 0px 0px 1px #5da4d6;
}

.details__part {
    justify-content: space-around;
    width: 100%;
    margin-bottom: 20px;
}

.credit__image{
    align-self: flex-end;
    margin: 0 20px 0 -80px;
}

.credit__image figure{
    display: flex;
    justify-content: flex-start;
}

.credit__image img{
    display: block;
    max-width: 100%;
    height: auto;
}

@media (max-width: 1020px) {
    .credit__details {
        width: 90%;
    }
    .credit__image{
        display: none;
    }
    .details__part label {
        width: 80%;
    }
    .details__part {
        flex-direction: column;
        align-items: center;
    }
}