<div class="client-list">
    <div class="client-list__header">
        <div class="header__content">
            <h2>Revisión general de nuestros clientes</h2>
            <p>Aquí puedes encontrar los datos generales de todos nuestros clientes.</p>
        </div>
        <div class="header__image">
            <figure><img src="../../../../assets/images/client.png" alt=""></figure>
        </div>
    </div>
    <div class="client-list__container container">
        <h3>Lista de clientes</h3>
        <button class="add-client" routerLink="/client/register">
            <figure><img src="../../../../assets/images/addClient.png" alt=""></figure>
            Agregar nuevo
        </button>
        <div class="client-list__content">
            <div class="content__header">
                <ul>
                    <li>No Documento</li>
                    <li>Nombres</li>
                    <li>Apellidos</li>
                    <li>Email</li>
                    <li>Actualización</li>
                    <li>créditos</li>
                </ul>
            </div>
            <app-client *ngFor="let client of clients" [client]="client"></app-client>
        </div>
    </div>
</div>