.banner {
    display: block;
    position: relative;
    top: 90px;
    height: 400px;
    margin: 0;
}

.banner__image-cover {
    position: absolute;
    width: 100vw;
    height: inherit;
    background-image: url("https://images.unsplash.com/photo-1589190632370-dcc9388aab4b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* filter: blur(2px); */
}

.banner__cover {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .6);
    z-index: 10;
}

.banner__cover-content {
    max-width: 35%;
    margin-right: 80px;
    padding: 10px 30px;
    text-align: center;
    color: #fff;
    font-family: "Lato", sans-serif;
}

.banner__cover-content p {
    font-size: 12px;
}

.banner__cover-content button {
    padding: 10px 40px;
    background: #1D73B2;
    color: #fff;
    border: none;
    border-radius: 25px;
}