<footer>
    <div class="footer__media">
        <div class="logo logo-footer">
            <img src="assets/images/logo.png"/>
            <h1>Credit App</h1>
        </div>
        <ul>
            <li>
                <a><i class="fab fa-facebook-f"></i></a>
            </li>
            <li>
                <a><i class="fab fa-twitter"></i></a>
            </li>
            <li>
                <a><i class="fab fa-youtube"></i></a>
            </li>
            <li>
                <a><i class="fab fa-instagram"></i></a>
            </li>
        </ul>
    </div>
    <div class="footer__nav">
        <ul>
            <li><a href="">Inicio</a></li>
            <li><a href="">Términos</a></li>
            <li><a href="">Nosotros</a></li>
            <li><a href="">Contacto</a></li>
        </ul>
    </div>
    <div class="footer__copyright">
        <p>© 2020 CreditApp Derechos reservados Universidad Distrital</p>
    </div>
</footer>