<section class="front">
    <div class="front__content container">
        <div class="front__description">
            <h2>Plan crediticio al alcance de un botón</h2>
            <p class="lead">
                Nuestro portal web esta disponible las 24 horas y puedes llenar el formulario con tus datos, con solo unos cuantos clicks de distancia, un asesor se encargará de revisar la petición enviada.
            </p>
            <p>Mejora tu experiencia registrándote con un usuario para tener grandes beneficios entre los cuales tendrás un registro de historial de créditos, una recomendación inteligente de próximas estrategias de negocios, y una prioridad avanzada para la petición de créditos en tiempo real con una revision mas rápida del caso.</p>
            <p>Realiza compras en linea a traves de nuestros servicios sin ningún problema. Este portal web tiene componentes de seguridad que hacen que cualquier petición que realices dentro de ella sea vigilada y protegida para que sientas el hogar de confianza que proporcionamos para ti.</p>
        </div>
        <div class="front__image">
            <img class="img_intro" src="assets/images/front.jpg" alt="intro"/>
        </div>
    </div>
</section>
