<div class="client">
    <div class="client__header">
        <h2>Revision de nuestros clientes</h2>
        <p>A continuación escoja la elección para revisión de créditos.</p>
    </div>
    <div class="client__options">
        <div class="client__options-card" routerLink="/client">
            <div class="card-image image-client"></div>
            <div class="card-cover cover">
                <div class="card-content">
                    <h3>Listado de clientes</h3>
                    <p>Consulta nuestros clientes activos con sus créditos.</p>
                    <div class="content-list">
                        <ul>
                            <li>Información de nuestros clientes.</li>
                            <li>Datos actualizados.</li>
                            <li>Créditos activos.</li>
                            <li>Historial crediticio.</li>
                        </ul>
                    </div>
                </div>
                <div class="card-background"></div>
            </div>
        </div>
        <div class="client__options-card">
            <div class="card-image image-credit"></div>
            <div class="card-cover cover">
                <div class="card-content">
                    <h3>Listado de Créditos</h3>
                    <p>Consulta nuestros créditos y sus condiciones.</p>
                    <div class="content-list">
                        <ul>
                            <li>Créditos activos en el sistema.</li>
                            <li>Datos actualizados.</li>
                            <li>Clientes que intervienen.</li>
                            <li>Historial crediticio.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card-background"></div>
        </div>
    </div>
</div>